* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #e3dfbc;
}

.navBar {
    background-color: #FAAEE1; 
    display: flex;
    flex-direction:row;
    flex-wrap: nowrap;     
    padding: 0;
}

.logo {
    width: 10em;    
    margin: 0 0 0 2em;
}
.logoImagen {
    width: 10em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    padding: 0;     
    margin: 0;
    justify-content: left;
}
.slogan1{    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    margin: 2em .2em .2em 0;
}
.slogan{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    font-family:Arial, Helvetica, sans-serif;
    color: brown;      
}
.direccion{
    background-color: #FAAEE1;
    color: brown;
    font-size: .6em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0 0 .2em .4em;
    margin:0 .2em;
}

.menu {
    display: flex;
    flex-direction:row;    
    padding: 0;  
    font-size: .5em;
    justify-content: right;
}
.contenedor{
    margin: 0;
    position:relative;
    top: 10%;
    left: -50%;
    transform: translate(50%);
    padding: 0;    
}
i{
    color: black;
    font-size: 1em;
    margin: 1em 0 1em 1em;
    border-radius: 50%;
    padding: 10px; 
    box-shadow: 0px 5px 10px rgb(0, 0, .35);
    transition: .3s ease;  
}
.fa-youtube:hover{
    background-color: red;
    color: white;
    box-shadow: 0 0 15px red, 0 0 45px red, 0 0 75px red, 0 0 115px red;
}
.fa-whatsapp:hover{
    background-color: green;
    color: white;
    box-shadow: 0 0 15px green, 0 0 45px green, 0 0 75px green, 0 0 115px green;
}
.fa-facebook:hover{
    background-color: #009DE0;
    color: white;
    box-shadow: 0 0 15px #009DE0, 0 0 45px #009DE0, 0 0 75px #009DE0, 0 0 115px #009DE0;
}
.fa-instagram:hover{
    background-color: #F01B7E;
    color: white;
    box-shadow: 0 0 15px #F01B7E, 0 0 45px #F01B7E, 0 0 75px #F01B7E, 0 0 115px #F01B7E;
}
.fa-twitter:hover{
    background-color: #009DE0;
    color: white;
    box-shadow: 0 0 15px #066BF0, 0 0 45px #066BF0, 0 0 75px #066BF0, 0 0 115px #066BF0;
}

.opcionMenu {
    padding: .5em;
    text-transform: uppercase;
    text-align: right;
    justify-content: right;
}

.opcionMenu:hover {
    background-color: #7e6762;
    color: white;
}

.enlace:link,
.enlace:visited,
.enlace:active {
    color: black;
    text-decoration: none;
}

.baner {
    width: auto;
    height: 2.1em;
    background-color:#f8b4a5;
    padding: 0 0 0 1em;
}

.banerh {   
    justify-content: space-around;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding: 0.3em 0 0 0;
}
.cuerpoPrincipal {    
    text-align: center;
    color: #573d3d;
    /*text-shadow: 1px 1px #5f5c5b;*/
    width: 100%;
    min-height: 100vh;
}
.tienda{
    color: #573d3d;
    text-shadow: 1px 1px #573d3d;
    font-size: 2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding: 0 0 .2em .4em;
    margin:0 .2em;
}
.eviosSub{
    text-align: center;
    font-size: .5em;
    text-shadow: 1px 1px #573d3d
}
.ingresarTienda{
    color: #573d3d;
}
.ingresarTienda:hover{    
    color: red;
   text-shadow: 0 0 15px red;
}
.fa-solid:hover{    
    color: red;
   text-shadow: 0 0 5px red;
}


/*****************INDEX*************/
.inicio{
    text-align: center;
    margin: 1em 0 0 0;
    padding:0 0 0 0;
    border: 0 0 0 0;
}
.inicioSub{
    text-align: center;
    margin: 1em 0 0 0;
    padding:0 0 0 0;
    border: 0 0 0 0;
}

.gato{   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-content:end;     
}.portada{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
    align-content: center;   
    margin: 2em 5em;
    padding:2em 2em;
    border: 2em 2em;
}

/************************************/
form {
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: brown;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  .contacto{
    padding: 0 0 0 1em;
    color: #573d3d;
    text-shadow: 1px 1px #573d3d;
  }
  .oferta{
    padding: 0 0 1em 1em;
    color: #573d3d;
    text-shadow: 1px 1px #573d3d;
  }


/* ******** TIENDA ********* */
.grupoTarjetas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tarjeta {
    width: 12em;
    padding: .3em;
    margin: 2em;
    background-color: white;
    box-shadow: 2px 2px 2px black;
    transition: box-shadow .2s;
    border-radius: 6px;
}
.tarjeta1 {
    width: 20em;
    padding: 1em 1em .3em .3em;
    margin: 0 1em;
    background-color: #fecdd0;
    box-shadow: 2px 2px 2px black;
    transition: box-shadow .2s;
    border-radius: 6px;
}
.tarjeta2 {
    width: 20em;
    padding: 1em 1em .3em .3em;
    margin: 1em 1em;
    background-color: #e3dfbc;
    box-shadow: 2px 2px 2px black;
    transition: box-shadow .2s;
    border-radius: 6px;
}

.tarjeta:hover {
    box-shadow: 6px 6px 10px black;
}
.tarjeta1:hover {
    background-color: #f48d94;
    box-shadow: 6px 6px 10px black;
}
.tarjeta2:hover {
    background-color: #f0f0d8;
    box-shadow: 6px 6px 10px black;
}

.foto {
    width: 100%;
    margin: 0 auto 1em auto;
}
.foto1 {
    width: 80%;
    margin: 0 auto 1em auto;
}

.genero{
    width: 100%;
    text-align: justify;
    color: #7e6762;
    margin: 0;
}
.articulo {
    width: 100%;
    text-align: center;
    color: #5f5c5b;
    margin: 0;
    text-transform: uppercase;
}

.genero {
    font-size: .6em;
}

.articulo {
    font-size: .8em;
}

.adicional {
    width: 100%;
    text-align: center;
    margin: .5em;
    font-size: .6em;
}

.precio {
    width: 100%;
    text-align: right;
    margin: .5em 0 0 0;
    font-size: 1.2em;
}
.botonee {
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    padding: 10px; /*espacio alrededor texto*/
    background-color: #2e518b; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'Helvetica', sans-serif; /*tipografía texto*/
    border-radius: 50px; /*bordes redondos*/
    }
    .boton {
        display: inline-flex;
        align-items: center;
        justify-content: left;
        width: 80%;
        height: 30px;
        background: #141414;
        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 10px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        transition: .5s ease all;
        border-radius: 5px;
        position: relative;
        overflow: hidden;
    }
    
    .boton span {
        position: relative;
        z-index: 2;
        transition: .3s ease all;
    }
    .boton.cinco svg {
        color: #fff;
        width: 65px;
        
    }
    
    .boton:hover {
        background: #2f9b05;
    }
    
    .boton:hover .icono {
        left: calc(80% - 30px);
        opacity: 1;
    }
    
    .boton:hover span {
        left: 20px;
    }